
.news p { margin: 1.5em auto; }

.section {
	width: 42%;
	margin: 1em 4%;
	float: left;
}

.nav a[href="index.html"] {
	color: #00649d !important;
	background-color: #fff !important;
}
 @media screen and (max-width: 555px) {

.section {
	width: 92%;
	float: none;
}
}

.section ul {
	margin: 0;
	padding: 0;
}

#twitter-widget-0 {
	height: 500px;
	width: 99% !important;
}

/*
    these are just the default styles used in the Cycle2 demo pages.  
    you can use these styles or any others that you wish.
*/


/* set border-box so that percents can be used for width, padding, etc (personal preference) */






.cycle-slideshow, .cycle-slideshow * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cycle-slideshow {
	width: 100%;
	max-width:745px;
	margin:0 auto;
	border:solid 1px #ddd;
	position: relative;
	background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;
}

/* slideshow images (for most of the demos, these are the actual "slides") */



#per-slide-template { text-align: center; }

#per-slide-template a {
	display: inline-block;
	padding: 1px 4px;
	background-color: #ddd;
	margin: 5px 3px;
}

#per-slide-template a:hover {
	background-color: #ccc;
	text-decoration:none;
}

.cycle-pager-active {
	background-color: #00649D !important;
	color: #fff !important;
}

.cycle-slideshow a { width: 100%; }

.cycle-slideshow img {
	/* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: none !important;
	padding: 0;
	display: block;
}

/* in case script does not load */






.cycle-slideshow img:first-child {
	position: static;
	z-index: 100;
}

/* pager */





#alt-caption {
	font-family: "Minion Pro", Times, "Times New Roman", serif;
	margin: 3px;
	font-size: 17px;
	text-align: left;
}

.cycle-pager {
	text-align: right;
	width: 100%;
	z-index: 500;
	position: relative;
	height: 0;
	top: -12px;
}

.cycle-pager span {
	font-family: arial;
	font-size: 50px;
	width: 16px;
	height: 16px;
	display: inline-block;
	color: #9db4ae;
	cursor: pointer;
}

.cycle-pager span.cycle-pager-active { color: #231f20; }

.cycle-pager > * { cursor: pointer; }

/* caption */






.cycle-caption {
	position: absolute;
	color: white;
	bottom: 15px;
	right: 15px;
	z-index: 700;
}

/* overlay */






.cycle-overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 600;
	background: black;
	color: white;
	padding: 15px;
	opacity: .5;
}

/* display paused text on top of paused slideshow */






.cycle-paused:after {
	content: 'PAUSED';
	color: white;
	background: black;
	padding: 10px;
	z-index: 500;
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 10px;
	opacity: .5;
	filter: alpha(opacity=50);
}

/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

.cycle-overlay { padding: 4px }

.cycle-caption {
	bottom: 4px;
	right: 4px
}
}
